<h1>Delete / Update Movies</h1>
<div class="pull-right"><a href="#/adminpage" class="btn btn-primary">Go Back to Admin Page</a></div>
<div class="pull-right"><a href="#/admin" class="btn btn-primary">Add Movie</a></div>
<div>
    <label><h2>Search</h2></label>
    <div class="row">
        <div class="col-md-4">
            <input type="text" placeholder="Search Here" id="searchBox" class="form-control" ng-model="viewVm.inputText">
        </div>
    </div>
</div>
<table class="table table-hover table-bordered">
    <thead>
    <tr>
        <th>Admin Actions</th>
        <th>Click on Image</th>
        <th>Title</th>
        <th>Year</th>
        <th>IMDB Rating</th>
        <th>Type</th>
        <th>Genre</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="movie in viewVm.movie | filter: viewVm.inputText">
        <td>
            <a ng-href="#/adminupdatemovie/{{movie.id}}"  class="btn btn-info">Update Movie</a>
            <a ng-href="#/admindeletemovie/{{movie.id}}"  class="btn btn-danger">Delete Movie</a>
        </td>
        <td><img class="imgthumb" ng-src="{{movie.Poster}}" /></td>
        <td>{{movie.Title}}</td>
        <td>{{movie.Year}}</td>
        <td>{{movie.imdbRating}}</td>
        <td>{{movie.Type}}</td>
        <td>{{movie.Genre}}</td>
    </tr>
    </tbody>
</table>
</div>