<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movieflix</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="css/movieflix.css" />
</head>
<body>
    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Movieflix</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">Movies <span class="sr-only">(current)</span></a></li>
        <li><a href="#">TV Shows</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Info <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Top Rated Movies</a></li>
            <li><a href="#">Top Rated TV Shows</a></li>
            <li><a href="#">Award Winning Movies</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Latest Movies</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Latest TV Shows</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search Movies,Shows">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Login/Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    <div class="container">
    <article id = "homePage">
        <section class="movie">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">The Dark Knight</h3>
                </div>
            <div class="panel-body">
                <img src="images/Dark_Knight.jpg" alt="Movie Poster" />
            </div>
</div>
        </section>
        
        <section class="movie">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Star Wars</h3>
                </div>
            <div class="panel-body">
                <img src="images/Star_Wars.jpg" alt="Movie Poster" />
            </div>
</div>
        </section>
        
        <section class="movie">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Martian</h3>
                </div>
            <div class="panel-body">
                <img src="images/Martian.jpg" alt="Movie Poster" />
            </div>
</div>
        </section>
        <section class="movie">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Spectre</h3>
                </div>
            <div class="panel-body">
                <img src="images/Spectre.jpg" alt="Movie Poster" />
            </div>
</div>
        </section>
            <section class="movie">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Star Wars</h3>
                </div>
            <div class="panel-body">
                <img src="images/Star_Wars.jpg" alt="Movie Poster" />
            </div>
</div>
        </section>
        
        <section class="movie">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Martian</h3>
                </div>
            <div class="panel-body">
                <img src="images/Martian.jpg" alt="Movie Poster" />
            </div>
</div>
        </section>
        <section class="movie">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Spectre</h3>
                </div>
            <div class="panel-body">
                <img src="images/Spectre.jpg" alt="Movie Poster" />
            </div>
</div>
        </section>
        <section class="movie">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">The Dark Knight</h3>
                </div>
            <div class="panel-body">
                <img src="images/Dark_Knight.jpg" alt="Movie Poster" />
            </div>
</div>
        </section>
    </article>
    </div>
    <footer>
        <p>Movieflix Incorported @2016</p>
    </footer>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
</body>
</html>